<footer class="wrapper style1 align-center">
    <div class="inner">
        <ul class="icons">
            {{ with .Site.Params.social.email }}
            <li><a target="_blank" href="mailto:{{.}}" class="fav icon style2 fa-envelope"><span
                    class="label">Email</span></a></li>
            {{end}}
        </ul>
        <p>
            <a target="_blank" href="https://www.cuisineaz.com/diaporamas/recettes-a-l-avocat-19/interne/1.aspx">Mentions Légales </a></p>
    </div>
</footer>